<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/style.css">

    <title>Fusion Mine</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">FusionMine</div>
            <nav class="header-nav">
                <a href="#">Правила</a>
                <a href="#">Поддержка</a>
                <a href="#">Наш Телеграмм</a>
                <a href="#">Группа VK</a>
            </nav>
            <a href="#" class="header-button">Начать играть</a>
        </div>
    </header>
    
    <main>
        <section class="carousel">
            <div class="carousel-container">
                <!-- Первая карточка -->
                <div class="carousel-item">
                    <img src="../public/images/ad1.png" alt="">
                </div>

                <!-- Вторая карточка -->
                <div class="carousel-item">
                    <img src="../public/images/ad2.png" alt="">
                </div>
            </div>
        </section>

        <section class="donate">
            <div class="donate-card">
              <div class="donate-choose">
                <div class="donate-choose-serv">
                  <div id="serv-one" class="donate-serv active">АНАРХИЯ</div>
                  <div id="serv-two" class="donate-serv inactive">ГРИФ</div>
                  <div id="serv-three" class="donate-serv inactive">ВЫЖИВАНИЕ</div>
                  <div id="serv-four" class="donate-serv inactive">МИНИ-ИГРЫ</div>
                </div>
          
                <div class="donate-choose-don">
                  <!-- Дополнительное содержимое -->
                </div>
              </div>
          
              <div class="donate-prev">
                <!-- Предпросмотр -->
              </div>
            </div>
          </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../scripts/carousel.js"></script>
    <script src="../scripts/choose-serv.js"></script>
</body>
</html>
